@model IEnumerable<emppj.Salary>

@{
    ViewBag.Title = "SalaryIndex";
}

<h2>SalaryIndex</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.payrollitem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayNameFor(model => model.payrollitem)
    </td>
    <td>
        @Html.DisplayFor(modelItem=> item.itemtype)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.value)
    </td>
    <td>
        @Html.ActionLink("SalEdit", "SalEdit", new { id = item.payrollitem }) |

        @Html.ActionLink("SalDelete", "SalDelete", new { id = item.payrollitem })
    </td>
</tr>
    }

</table>
<p>
    @Html.ActionLink("SalAdd New", "SalAdd")
</p>